html{
    font-size: 15px;
}
body{
    background: #F8FAFC;
}
.primary-bg{
    background-color: var(--primary-color);
}
.primary-text{
    color: var(--primary-color);
}
.left-loading .p-button-loading-icon {
    position: absolute !important;
    left: 1rem !important;
}
p {
    margin: 0 0 1rem;
    line-height: 1.5;
}
label.required::after {
    content: "*";
    color: red;
    margin-left: 4px;
}
.router-link-active {
    color: var(--primary-color);
    font-weight: 500;
}